.card {
  font-family: 'Source Code Pro', monospace;
  position: relative;
  user-select: none;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  background: $lightBlue;
  border: none;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  border-radius: 15px;
  color: $white;

  &__background-img {
    position: relative;
    border-radius: 15px;
    height: 270px;
    filter: brightness(75%);
  }

  &__chip {
    width: 60px;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  &__logo {
    position: absolute;
    top: 25px;
    right: 25px;
    max-width: 100px;

    &--back {
      position: absolute;
      bottom: 30px;
      right: 15px;
      max-width: 100px;
      opacity: 0.8;
      max-width: 90px;
    }
  }

  &__numbers {
    position: absolute;
    top: 115px;
    left: 30px;
    font-size: 27px;
  }

  &__input-group {
    position: absolute;
    bottom: 25px;

    &--name {
      left: 25px;
    }

    &--date {
      right: 25px;
    }
  }

  &__input-title {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 2px;
  }

  &__input-response {
    font-size: 18px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &__band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: absolute;
  }

  &__cvv-title {
    font-size: 15px;
    position: absolute;
    top: 92px;
    right: 25px;
  }

  &__cvv-band {
    height: 45px;
    background: $white;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
    width: 93%;
    top: 115px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__cvv-text {
    position: absolute;
    top: 125px;
    right: 25px;
    color: $darkBlue;
    font-size: 13px;
  }
}
