.card {
  font-family: 'Source Code Pro', monospace;
  position: relative;
  user-select: none;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  background: $lightBlue;
  border: none;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  border-radius: 15px;
  color: $white;

  &__background-img {
    position: relative;
    border-radius: 15px;
    height: 270px;
    filter: brightness(75%);
  }

  &__chip {
    width: 60px;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  &__logo {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 48px;
  }

  &__numbers {
    position: absolute;
    top: 115px;
    left: 30px;
    font-size: 27px;
  }

  &__input-group {
    position: absolute;
    bottom: 25px;

    &--name {
      left: 25px;
    }

    &--date {
      right: 25px;
    }
  }

  &__input-title {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 2px;
  }

  &__input-response {
    font-size: 18px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }
}
