.form {
  min-width: 315px;
  max-width: 570px;
  margin: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;

  &__inner {
    margin-top: 200px;
    background: $white;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 35px;
    padding-top: 180px;
  }

  &__label {
    color: $darkBlue;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 500;
    width: 100%;
    display: block;
    user-select: none;
  }

  &__column {
    padding: 0px;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: $darkBlue;

    &:hover {
      border-color: $blue;
    }

    &:focus {
      border-color: $blue;
      box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
      outline: none;
    }

    &--date {
      font-size: 16px;
    }

    &--year {
      margin-top: 22.5px;
    }

    &--cvv {
      margin-left: 10px;
    }
  }

  &__submit-button {
    width: 100%;
    height: 55px;
    background: $buttonBlue;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: $white;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      background: darken($buttonBlue, 4%);
    }

    &:focus,
    &:active {
      background: darken($buttonBlue, 7%) !important;
      outline: none !important;
      box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3) !important;
    }
  }
}

@media (max-width: 500px) {
  .form {
    &__inner {
      padding: 35px;
      padding-top: 150px;
    }
  }
}

@media (max-width: 576px) {
  .form {
    &__input {
      &--cvv {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 410px) {
  .form {
    &__inner {
      padding: 20px;
      padding-top: 120px;
      margin-top: 140px;
    }
  }
}
